[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
requests-oauthlib = "*"
requests = "*"
flask = "*"
inflect = "*"
nltk = "*"
python-socketio = "*"
flask-socketio = "*"
gevent = "*"
wave = "*"

[dev-packages]

[requires]
python_version = "3.7"
