html, body {
    height: 99%;
    font-family: Arial, Helvetica, sans-serif
}

body {
    display: flex;
    flex-direction: column;
}

/************************/
/*    GENERAL STYLE     */
/************************/
/* Container for holding all the tokens */
.output-container {
    overflow: auto;
    white-space: nowrap;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    flex: 1 0 auto;
    overflow: auto;
    position: relative;
}

.inner {
    display: table;
}

.recorder-container {
    flex-shrink: 0;
    height: 150px;
    width: 100%;
    text-align: center;
    bottom: 5px;
}

.recorder-container > img {
    max-height: 100%;
}

#mic {
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.recording-inactive {
    opacity: 0.2;
}

.recording-active {
    opacity: 1;
}

/************************/
/* TOKEN-SPECIFIC STYLE */
/************************/
/* Holds content related to a single token */
.tkn-container {
    display: inline-block;
}

/* The caption for each token (generally the token itself, as plaintext) */
.tkn-caption {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

/* A container for the icon associated with the token */
.tkn-img {
    text-align: center;
    width: 200px;
}

/* The actual image from the Noun Project */
.tkn-img > img {
    max-width: 100%;
}